/*--------------------------------------------------------------
13.0 Layout
13.1 Header
13.2 Footer
    13.2.2 Contact info 
    13.2.1 Google maps
13.3 Front Page
13.4 Single
    13.4.1 Post/Page  - Single
    13.4.2 Attachment - Single
13.5 Offer - Single    
    13.5.1 Offer - Archive
13.6 Sidebar
    13.6.1 Sidebar - Overlay    
--------------------------------------------------------------*/

    /*--------------------------------------------------------------
    13.1 Header
    --------------------------------------------------------------*/
    .fixed-header {
        

        #site-header                {position: relative; z-index: 500; min-height: 0;}
        &.admin-bar #site-header    {top:0;}
           .fixed-margin {
               margin-top: 0;
           }
    }  
    .title-area {
        padding: 17px 10px 17px 10px;
        max-width: 264px;
    }    
    
    
    /*--------------------------------------------------------------
    13.2.1 Google maps
    --------------------------------------------------------------*/
    #map-canvas {
    height: 350px;
    min-height: 95vh;
    }
    #panel {
    width: 85%;
    left: 7%;
    }
    #start {
    width: 85%;
    margin: 5px;
    }
    /*--------------------------------------------------------------
    13.3 Front Page (stage)
    --------------------------------------------------------------*/

    .section-1, .section-2 {
        width: 100%;
    }
    .section-stages {
        > div > div {
            height: 200px;
        }
    }    
    .section-1:after,
    .section-2 .stage:after,
    .section-2 .stage:before {
        display: none;
    }
    .section-1 {
        .stage {
            padding-right:80px;}
       .stage-number {
            right: 15px;
        }            
    }      
    .section-2 {
        .stage {
            padding-left:80px;}
        .stage-number {
            left: 15px;
        }
    }  
    /*--------------------------------------------------------------
    13.4.1 Single - Post/Page
    --------------------------------------------------------------*/
    .title-full-width {
        > h1 {
            position: relative;
            padding: 60px 10px;  
            z-index: 101;   
        }
    } 
    .hentry-single {
        .entry-social {
            text-align: center;
        }
    }  