/* Embade */

embed,
iframe,
object {
	max-width: 100%;
}
.twitter-tweet {
	margin-left: auto;
	margin-right: auto;
}

.wp-video,
.wp-video-shortcode,
.mejs-overlay.load {
    width: 100% !important;
}

/* continer oEmbade - video */
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    padding-top: 54.1667%;

    .mejs-container.mejs-video {
    	position: absolute;
    	top:0;
    	left:0;
    	max-width: 100%;
    	max-height: 100%;
    }

	.mejs-overlay-play {
	    max-height: 100%;
	}

	iframe,
	object,
	embed {
	    position: absolute !important;
	    top: 0 !important;
	    left: 0 !important;
	    width: 100% !important;
	    height: 100% !important;
	}
}