/*
 * 	Green theme - Owl Carousel CSS File
 */

$color-base:			#4DC7A0 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

//nav

$nav-color: 			$color-white !default;
$nav-color-hover:		$color-white !default;
$nav-font-size: 		14px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		$color-gray !default;
$nav-background-hover:	$color-base !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

.slides {
  //background-size:cover;
  background-size: auto 100%;
  background-position: center left;
  background-repeat: no-repeat;
  background-color: $color-white;
  height: 100vh;
  position: relative;
}
.slides-caption {
    position: absolute;
    bottom: 30%;
    right: 4%;
    width: 50%;
    padding: 2%;
}

.owl-full {
    .owl-stage-outer, .owl-stage, .owl-item {
        height: inherit;
    }
}

.owl-nav div {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    font-size: 12px;
    left: 0;
    overflow:hidden;
   
    margin: -20px 0 0 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    width: 40px;
    height: 40px;
    display: block;
    
    &.owl-next {
        left: inherit;
        right: 0;
    }
    
}

.owl-nav div:before {
    font-family: 'icomoon';
    font-size: 40px;
    line-height: 40px;
    display: inline-block;
    content: '\f053';
    color: $light-border;
}

.owl-nav div.owl-next:before {
    content: '\f054';
}