/*
 * All
 * */
.vertical {
	.menu ul                        {margin: 0 0 0 0.8em;}

	.menu li                        {position: relative; padding: 0;}
	.menu li a                      {position: relative; display: block; padding: 1em 0; color: $vertical-color-a; border-bottom: 1px solid $vertical-border;}

	.menu > li                      { background: $vertical-background;       }
	.menu > li > li                 { background: $vertical-background-lili;  }
	.menu > li > li > li            { background: $vertical-background-lili;  }

	.menu a:hover,
	.menu .current_page_item > a,
	.menu .current-menu-item > a,
	.menu .current_page_ancestor > a        {color: $vertical-color-ahover;}

	.menu > ul > li:first-child,
	.menu > li:first-child            		{}

	.menu .page_item_has_children > a,
	.menu .menu-item-has-children > a       {padding-right: 48px;}

	.menu .menu-item-description            {@include font-size($size-small); font-weight: 400; margin-top: 0.5em;}




}

/*
 * DropDown .dropdown
 */

.vertical.dropdown {

.menu .toggled-on           {display: block;}
.menu ul                    {display: none;}
.no-js .menu ul             {display: block;}

.menu .dropdown-toggle					{font-family: 'icomoon'; color: $vertical-color-a; background-color: transparent; border: 0; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; height: 42px; padding: 0; position: absolute; text-transform: lowercase; top: 3px; right: 0; width: 42px;}
.menu .dropdown-toggle:after			{content: "\f107"; font-size: 24px; line-height: 42px; position: relative; top: 0; left: 0; width: 42px;}
.menu .dropdown-toggle.toggle-on:after	{content: "\f106"; }

.menu .dropdown-toggle:hover,
.menu .dropdown-toggle:focus			{background-color: $vertical-color-ahover; color: $vertical-background;}
}