/*----------------------------------
 *  RWD
 * ---------------------------------*/
.show-tablet {display: none !important;}






/* --------------------------------------------
 * Breakpoint (480)
 --------------------------------------------*/
@media (max-width: 30em) {
     @import "../media/rwd/galleries-phone";   
}


/* --------------------------------------------
 * Breakpoint (827)
 --------------------------------------------*/
@media (max-width: 51.688em) {
    .title-area {
        padding: 17px 0px 17px 10px;
        max-width: 19%;
    }    
}

/* --------------------------------------------
 * Breakpoint (768)
 --------------------------------------------*/
@media (max-width: 48em) {
    
    /* --------------------------------------------
     * Accessibility
     --------------------------------------------*/
    #accessibility {
        text-align: center;
        form {float: none; margin: 0;}
    }
    
    /* --------------------------------------------
     * Class show/hidde
     --------------------------------------------*/        
    .hidde-tablet   {display: none !important;}
    .show-tablet    {display: block !important;}
    
    @import "../layout/rwd/gird-tablet.scss";

    @import "../layout/rwd/layout-style-tablet.scss";
    
    @import "../module/loop/rwd/hentry_bezcieniowa-tablet";
    
    @import "../module/wp/rwd/coments-tablet.scss";
   
    @import "../module/wp/rwd/widgets-tablet";
    
    @import "../nav/rwd/nav-tablet";
   
    
}





/* --------------------------------------------
 * Breakpoint (1024)
 --------------------------------------------*/
@media (max-width: 64em) {
    h1,.class-h1    { @include font-size(($size-base + 1.2),0,true);}
    h2,.class-h2    { @include font-size(($size-base + 1.0),0,true);}
    h3,.class-h3    { @include font-size(($size-base + 0.5),0,true);}
    h4,.class-h4    { @include font-size(($size-base + 0.1),0,true);}
    h5, h6          { @include font-size(($size-base),0,true);}    
}



/* --------------------------------------------
 * Breakpoint (1366)
 --------------------------------------------*/
@media (min-width: 85.375em) {
    
}



/*----------------------------------
 *  Breakpoint $phone max-width 360px
 * ---------------------------------*/
@include breakpoint(max-width 360px) {
    /*----------------------------------
     *  Tables
     * ---------------------------------*/
     table tbody td { word-break: break-all;}
}
/*----------------------------------
 *  Breakpoint max-width 600px
 * ---------------------------------*/
@include breakpoint(max-width 600px) {
    /*----------------------------------
     *  Tables
     * ---------------------------------*/
    .hentry table {
          caption { background-image: none; }
          thead, table th { display: none; }

          td {display: block; @include font-size(1.1);}

          tbody td::before {content: attr(data-th); float: left; width: 30%; font-weight: bold; }
          tbody td::after { content: ''; display:block; clear: both; }
      }
}